@model Wildlife.Models.Sighting

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Wildlife-Tracker - Details</title>
</head>
<body>
    <h2>Details</h2>
    @Html.DisplayNameFor(model => model.date): @Html.DisplayFor(model => model.date)
    @Html.DisplayNameFor(model => model.longitude): @Html.DisplayFor(model => model.longitude), @Html.DisplayNameFor(model => model.latitude): @Html.DisplayFor(model => model.latitude)
    @Html.DisplayFor(model => model.Species.Name)
    <p>@Html.ActionLink("Back to list", "index")</p>
</body>
</html>
